* {
	padding: 0;
	margin: 0;
}

li {
	list-style-type: none;
}

#root {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto 1fr auto;
	height: 100vh;
}

#header {
	display: flex;
	grid-column: 1 / -1;
	padding: 16px;
	gap: 16px;
}

#header img {
	width: 50px;
	height: auto;
}

#sidebar {
	padding: 16px;
}

#project-title {
	display: none;
}

.sidebar-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#content {
	height: 100%;
	padding: 16px;
}

input[type="datetime-local"]::-webkit-datetime-edit {
	display:none;
}


.todo-card {
	display: flex;
	align-items: center;
}

.completed p {
	text-decoration: line-through;
}

#footer {
	grid-column: 1 / -1;
	padding: 16px;
}
